<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - LocalMusicStreamer</title>
    <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true"/>
    <link href="~/css/output.css" rel="stylesheet">
</head>
<body class="min-h-screen flex flex-col">
<header>
    <nav class="bg-gray-500 bg-opacity-30 shadow text-xl rounded-2xl m-2">
        <div class="container mx-auto px-4 py-4 flex justify-center items-center">
            <a class="font-semibold text-white mr-6" asp-area="" asp-controller="Home" asp-action="Index">LocalMusicStreamer</a>
            <div class="hidden lg:flex space-x-6">
                <ul class="flex space-x-6">
                    <li>
                        <a class="text-white hover:underline" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a class="text-white hover:underline" asp-area="" asp-controller="Upload" asp-action="Index">Upload</a>
                    </li>
                    <li>
                        <a class="text-white hover:underline" asp-controller="Library" asp-action="Index">Library</a>
                    </li>
                    <li>
                        <a class="text-white hover:underline" asp-controller="Playlists" asp-action="Index">Playlists</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container mx-auto px-4 flex-grow">
    <main role="main" class="py-4">
        @RenderBody()
    </main>
</div>

<footer class="text-gray-600 bg-transparent py-4">
    <div class="container mx-auto px-4">
        <div id="audioControls" class="flex items-center justify-between">
            <!-- SVG Icon Source: https://tailwindtoolbox.com/icons -->
            <button id="skipBackward" onclick="skipBackward()" class="text-xl hover:bg-gray-500">
                <svg class="h-8 w-8 text-white bg-gray-700 p-1 rounded" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polygon points="19 20 9 12 19 4 19 20"/>
                    <line x1="5" y1="19" x2="5" y2="5"/>
                </svg>
            </button>

            <audio id="audioPlayer" controls class="w-full mx-4 rounded-2xl shadow-lg shadow-black">
                <source src="" type="audio/flac">
                <source src="" type="audio/mp3">
            </audio>

            <!-- SVG Icon Source: https://tailwindtoolbox.com/icons -->
            <button id="skipForward" onclick="skipForward()" class="text-xl hover:bg-gray-500">
                <svg class="h-8 w-8 text-white bg-gray-700 p-1 rounded" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polygon points="5 4 15 12 5 20 5 4"/>
                    <line x1="19" y1="5" x2="19" y2="19"/>
                </svg>
            </button>
        </div>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
