@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-4xl text-white font-bold text-center p-2">Local Music Streamer</h1>
    <p class="text-white">Will eventually show recently played, in a grid-like format</p>
</div>
